<!DOCTYPE html>
<html>
<head>
  <title>Error Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Error 429</h1>
      <div class="alert alert-danger" role="alert">
        Algo sucedio mal.
      </div>
      <p>Se ha producido un error debido a un exceso de solicitudes. Por favor, espere un momento y vuelva a intentarlo más tarde.</p>
    </div>
  </div>
</div>
</body>
</html>
